.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}




.best_title {
    padding-top: 80px;
    padding-bottom: 39px;
}

.goods_blocks {
    display: flex;
    justify-content: space-between;
    width: 802px;

}