section.about_current-coffee {
    .about_current_coffee-wrapper {

        .descr_img {

        }

        .descr_text_block {

            .descr_title {

            }

            .descr_country {
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
                /* identical to box height */


                color: #000000;
            }

            .description_text {

            }
            .descr_price {

                .span-price {

                }
            }

            span.bold-span {

            }
        }
    }
}